modules = ["nodejs-20", "web", "bash", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Agent Terrain"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Portail Membre"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "M15"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=5000 pnpm --filter @workspace/frontend run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Start API Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd artifacts/api-server && pnpm run start"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Agent Terrain"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/terrain run dev"
waitForPort = 3001

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Portail Membre"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/portail run dev"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "M15"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/m15 run dev"
waitForPort = 3002

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 3000
externalPort = 4200

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3002
externalPort = 5173

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 20823
externalPort = 3002

[[ports]]
localPort = 23492
externalPort = 5000

[[ports]]
localPort = 25014
externalPort = 3003

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
JWT_SECRET = "3725d6b3e6ef6997d65e176c974d7ea6417a35a3a2f9198d7e149f37d0b4308be26cbd627b15b0159005493428face50"
VAPID_PUBLIC_KEY = "BPCY50bh4yvZAqlbJ2ai6f9IVn-x0Wpn1sQB3cyfsqCBh_XapoV17ZPrlKHlQUlqUT-8WgJMBiQPZRrotBxmG6Q"
VAPID_SUBJECT = "mailto:admin@coopdigital.ci"
VAPID_PRIVATE_KEY = "PruMt7aBsVzm75Wj1_ABdclo82mvje3KyNojt4tI3-8"
